@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');

html {
    font-size: 16px;    
}

body {
    font-family: 'Ubuntu', sans-serif;
}

* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* Default */
.container {
    margin:0 auto;
    width:38rem;
    max-width: 100%;
}

.img-fluid {
    max-width:100%;
    display:block;
    height: auto;
}

/* Cabeçalho */
.header {
    height: 3.063rem;
    margin-bottom: 1.25rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.header--container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 3.063rem;
}

.header__logo {
    display:block;
    margin-left: 0.938rem;
}

.header__menu {
    background-image:url(../img/hamburguer.png);
    background-repeat: no-repeat;
    background-color: transparent;
    cursor:pointer;
    width: 1rem;
    height: 1rem;
    border:0;
    text-indent:-9999px;
    margin-right: 0.938rem;
}

@media (min-width: 608px){

    .header__logo {
        margin-left: 0;
    }

    .header__menu {
        margin-right: -10px;
    }
}


/* Conteúdo */

.featured {
    margin-bottom:2.313rem;
    position: relative;
}

.featured__arrowLeft,
.featured__arrowRight {
    position: absolute;
    width: 2.438rem;
    height: 2.438rem;
    top: calc(50% - 1.219rem);
    background-repeat:no-repeat;
    background-size: contain;
    text-indent:-9999px;
    cursor:pointer;
    opacity:0.6;
    transition: opacity .4s;
}

.featured__arrowLeft:hover,
.featured__arrowRight:hover {
    opacity:1;
}

.featured__arrowLeft {
   left: 0.5rem; 
   background-image:url(../img/arrow-left.png);
}

.featured__arrowRight {
   right: 0.5rem; 
   background-image:url(../img/arrow-right.png);
}

.ads {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom:3rem;
    row-gap: 1.5rem;
    align-items: center;
}

@media (min-width: 608px){
    .ads {
        flex-direction: row;
    }
}

.styles__list {
    list-style:none;
}

article {
    width:16rem;
    background-color: #eee;
}

.ad__subtitle__header {
    padding:0.25rem 0.75rem 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.ad__subtitle__header__type {
    color: #fff;
    font-size:1.25rem;
    line-height: 1.675rem;

}

.ad__subtitle__header__price {
    color: #888;
    font-size:1.563rem;
}

.ad__subtitle__header__type--new {background-color:#51D275;}
.ad__subtitle__header__type--sale {background-color:#DC9730;}

.ad__subtitle__header__type--new,
.ad__subtitle__header__type--sale {
    border-radius: 0.656rem;
    padding: 0.1rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.34rem;
    font-weight:400;
}

.ad__subtitle__description {
    padding:0.75rem;
    padding-top:0.5rem;
    font-size:0.625rem;
    line-height: 0.75rem;
    color:#555;
}

.styles h2 {
    text-align: center;
    color:#888;
    font-weight:400;
    margin-bottom:1rem;
}

.styles__list {
    display:flex;
    row-gap: 0.6rem;
    flex-direction: column;
    margin-bottom:3.563rem;
}

/* Rodapé */
.footer {
    background-color: #333333;
    padding-top:2.5rem;
    padding-bottom:2.5rem;
}

.footer--container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 608px){
    .footer--container {
        flex-direction: row;
    }
}

.footer__info {
    width: 12.938rem;
    font-size: 0.75rem;
    color:#fff;
}

@media (max-width: 607.8px){
    .footer__info {
        margin-top:0.5rem;
    }
}

.footer__info__address {
    line-height:1.7rem;
}

.footer__info__address a {
    color:#fff;
    text-decoration:none;
}

.footer__info__network {
    margin-top:0.7rem;
}

.footer__info__network__items {
    display:flex;
    column-gap: 1rem;
    margin-top:0.4rem;
}

.footer__info__network__items a {
    display:block;
}